config PKG_USING_AW86224
    bool "Enable Motor AW86224 Driver"
    default n
    select PKG_USING_I2C
    help
        Enable support for AW86224 Motor.

    if  PKG_USING_AW86224
    
        config AW86224_I2C_BUS_NAME
            string "I2C bus name"
            default "i2c1"
    endif