config PKG_USING_XL9555
    bool "Enable IO Expand XL9555"
    default n
    select PKG_USING_I2C
    help
        Enable support for XL9555 IO Expand.

    if  PKG_USING_XL9555
    
        config XL9555_I2C_BUS_NAME
            string "I2C bus name"
            default "i2c1"

        config XL9555_IRQ_PIN
            int "XL9555 IRQ pin number"
            default -1
    endif