menuconfig PKG_USING_UART_MANGER
    bool "Enable UART mux"
    default n
    select PKG_USING_UART
    help
        Enable the shared UART multiplexer for GPS and ESP32-C6.

if PKG_USING_UART_MANGER

config UART_BUS_NAME
    string "Shared UART bus name"
    default "uart2"

source "$SIFLI_SDK/t_sf32_display_hw_device/uart_mux/gps/Kconfig"
source "$SIFLI_SDK/t_sf32_display_hw_device/uart_mux/esp_at/Kconfig"

endif