config PKG_USING_ESP32C6_AT_COMMAND
    bool "Enable ESP32C6 module based on AT library"
    default n
    select PKG_USING_UART
    help
        Enable PKG_USING_ESP32C6_AT_COMMAND library.

    if  PKG_USING_ESP32C6_AT_COMMAND
    
        config ESP32C6_UART_BUS_NAME
            string "UART bus name"
            default "uart2"
    endif