config PKG_USING_INFRARED
    bool "Enable INFRARED_MYSELF library"
    default n

    if  PKG_USING_INFRARED
    
        config INFRARED_PWM_NAME
            string "irfrared pwm name"
            default "pwm3"
    
        config INFRARED_PWM_CHANNEL
            int "irfrared pwm channel"
            default 1
    endif