config PKG_USING_ICM20948
    bool "Enable ICM20948 Sensor"
    default n
    
    select PKG_USING_I2C
    help
        Enable support for icm20948 sensors

    if  PKG_USING_ICM20948
    
        config ICM20948_I2C_BUS_NAME
            string "I2C bus name"
            default "i2c1"

        config ICM20948_IRQ_PIN
            int "ICM20948 IRQ pin number"
            default 27
    endif