config PKG_USING_BHI260AP
    bool "Enable BHI260AP Sensor"
    default n
    select PKG_USING_I2C
    help
        Enable support for Bosch BHI260 series sensors

    if  PKG_USING_BHI260AP
    
        config BHI260AP_I2C_BUS_NAME
            string "I2C bus name"
            default "i2c1"

        config BHI260AP_IRQ_PIN
            int "BHI260AP IRQ pin number"
            default 27
    endif